
{% for bundle_item in product.metafields.bundle_items %}
{{ bundle_item.last.value }}
  <label for="{{ product.title }}">{{ product.title }}:</label>
  <select name="{{ product.title }}" id="{{ product.id }}" class="bundle-select">
    <option value="" selected>Please select</option>
    {% for variant in product.variants %}
    <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
    {% endfor %}
  </select>
{% endfor %}


